@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}